/* CSS files add styling rules to your content */


body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  display: flex;
  color: #4e4e4e;
  justify-content: center;
  height: 100vh;
  background: #fefefe;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
}

#title {
  font-size: 16px;
  padding: 10px;
  background: white;
}

path {
  stroke-width: 2px;
}

svg {
  max-width: 350px;
  max-height: 350px;
  height: 350px;
  margin-top: 10vh;
}

@media(min-width: 320px){
  #title {
    font-size: 22px;
    padding: 16px;
  }
}

.hidden {
  display: none;
}

.button {
  font-size: 14px;
  border: 2px solid #d3d3d3;
  background: white;
  padding: 8px;
  transition: .25s box-shadow linear;
}

.button:hover {
  box-shadow: 4px 4px turquoise;
}

#start.button:hover {
  box-shadow: 4px 4px deeppink;
}

.button:active {
  box-shadow: 2px 2px turquoise;
}

#start.button:active {
  box-shadow: 2px 2px deeppink;
}
