doctype html
html(lang="en")
  head
    include includes/head.pug
    link(rel="stylesheet" href="resume.css")
  body
    nav
      a(class="button" href="/") Home
      a(class="button" href="https://cdn.glitch.com/fbfbe80c-5dab-43e8-81ab-0a353618a87d%2FJulia%20Soper%20Resume.pdf?v=1574360522262" download="") Download resume
    header
      div(class="name_block")
        h2 Julia Soper
        h4 Software Engineer
      div(id="contact_box" class="contact")
        p contact me:
        div(class="links")
          a(href="mailto:jmsoper@protonmail.com")
            badge(class="contact_image envelope")
            | email
          a(href="https://www.linkedin.com/in/julia-soper/")
            badge(class="contact_image linkedin")
            | linkedin
          a(href="https://github.com/jmsoper")
            badge(class="contact_image github")
            | github
          a(href="https://glitch.com/@househaunt")
            badge(class="contact_image glitch")
            | glitch
  section
    div(class="main_header")
      h3(class="label") Technologies
      b(class="separator")
    p
      span(class="highlight") PROFICIENT:
      | Javascript, Node.js, React, Redux, Express, SQL, GraphQL, CSS, Typescript, PHP</p>
    p
      span(class="highlight") KNOWLEDGEABLE:
      | Ruby, Python, C, AWS
  section
    div(class="main_header")
      h3(class="label") Employment
      b(class="separator")
    div(class="employer")
      h4(class="employer_name") Vimeo
      div(class="position")
        h4
          span(class="highlight") Frontend Engineer
          | · Aug 2018 - Present · New York, NY</h4>
        p Implementing new search functionality, from the PHP controller to UI components in React Hooks
        p Helping to define best practices for documentation, and creating documentation for new processes
        p Safely updating legacy features to newer versions of component libraries and React
        p Updated the way we access statistics for users' content, and presented on the process to the larger team
    div(class="employer")
      h4(class="employer_name") Mic
      div(class="position")
        h4
          span(class="highlight") Product Engineer
          | · Mar. 2017 - June 2018 · New York, NY
        p Built and optimized a user-facing site for user and developer experience in GraphQL, React and Node
        p Managed revenue/ads team, mentored junior engineer and shared learnings with team members
    div(class="employer")
      h4(class="employer_name") Joystick Interactive
      div(class="position")
        h4
          span(class="highlight") Developer
          | · May 2016 - Mar. 2017 · New York, NY
        p Rebuilt legacy website in Angular with updated methodologies and improved functionality
        p Researched and built demos using things like Facebook Chat, Amazon Alexa, SquareSpace templates and Drupal
  section
    div(class="main_header")
      h3(class="label") Education
      b(class="separator")
    div
      h4
        span(class="highlight") Recurse Center, Cohort member
        | · Spring 2018 · New York, NY
      h4
        span(class="highlight") App Academy, Bootcamp graduate
        | · Feb. 2016 - Apr. 2016 · New York, NY
      h4
        span(class="highlight") Swarthmore College, BA
        | · Aug. 2007 - May 2010 · Swarthmore, PA
  section
    div(class="main_header")
      h3(class="label") Volunteering
      b(class="separator")
    div
      h4
        span(class="highlight") CodeNation
        | · Aug. 2016 - Aug. 2017 · New York, NY